/***********Estilos Agregados***********/
.mobile-disp{
  display: none;
}

.navbar-default {
  min-height: 100px;
  padding-top: 1.8%;
}

.navbar-right {
  margin-right: 10%;
}

.navbar-header {
  margin-left: 7%!important;
}

.navbar-right > li:hover {
  background-color: #e7e7e7;
}

.secc {
  width: 100%;
  height: 500px;
  margin-right: 0!important;
}

#secc1 {
  background-image: url("../img/taxi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 800px;
}

#secc1 .container-fluid, #secc1 .container-fluid div {
  width: 100%;
  height: 100%;
}

#secc1 form {
  background-color: #FFC107;
  padding: 15px 15px;
}

#secc1 .row {
  padding: 17% 0;
}

.white {
  color: white;
}

.w-700 {
  font-weight: 700;
}

.w-400 {
  font-weight: 400;
}

hr {
  display: inline-block;
  margin-bottom: 5px;
}

hr + .d-lb {
  display: inline;
}

.mb-20 {
  margin-bottom: 20px;
  padding-right: 0;
}

#secc1 .pull-right .col-md-12 {
  padding: 0;
}

#secc2 {
  background-color: #FFC107;
}

.b3-w {
  margin-top: 75px;
  border: 2px solid white;
  border-left: 0;
}

.p-20 {
  padding: 20px 0;
}

.p-50 {
  padding: 50px 0;
  padding-right: 40px;
}

#iPhone {
  width: 25%;
  vertical-align: middle;
}

.fs-17 {
  font-size: 17px;
}

#secc3 {
  background-image: url("../img/conduce.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#secc3 .col-sm-4, #secc3 .col-md-34 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 35px;
  padding-top: 70px;
}

#secc4 {
  background-color: #FFC107;
}

#secc4 input::-webkit-input-placeholder {
  color: white;
  font-size: 90%;
}

.thumbnail {
  width: 35%;
}

.div-inp{
  padding: 3%;
}

.input-LC {
  display: inline-block!important;
  background-color: transparent;
  border: 1px solid white;
  width: 60%;
}

footer{
  background-color: black;
  width: 100%;
  height: auto;
}

.iconosFooter{
  color:white;
}

.iconosFooter:hover{
    cursor:pointer;
}

footer li{
    list-style: none;
    color:white;
    cursor:pointer;
}

footer li:hover{
    text-decoration: underline;
}


footer span{
  font-size: 110%;
  padding: 0 10px;
  color: #9d9d7e;
}
footer p {
  font-size: 90%;
  color: #9d9d7e;
}


/******************MODALES******************/

#iniciarSesion .modal-content {
  background-color: rgb(8, 172, 157);
  height: 480px;
}

#iniciarSesion a {
  color: brown;
}

#iniciarSesion a:hover {
  color: #2b1d31;
}

.m-20 {
  margin: 20px 30%;
}

.col-12 {
  width: 100%;
}
/***********Responsive***********/
  @media (max-width: 992px){
    .label, #secc1 p {
      font-size: 60%;
    }
  }
  @media (max-width: 768px){
    .mobile-disp{
      display: block;
    }
    .desktop {
      display: none;
    }
    #secc1 {
      height: 500px;
    }
  }
  @media (max-width: 648px){
    .btn {
      font-size: 7px;
    }
    .btn-lg {
      font-size: 11px;
    }
    .btn-sm, .btn-xs {
      font-size: 5px;
    }
    .label {
      font-size: 50%;
    }
    h1, h2, h3, h4, h5, h6 {
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }
  @media (max-width: 547px){
    .label {
      font-size: 40%;
    }
    h1, h2, h3, h4, h5, h6 {
      margin-top: 5px;
      margin-bottom: 2px;
    }
  }
  @media (max-width: 490px){
    .btn {
      font-size: 7px;
    }
    .label {
      font-size: 30%;
    }
    h1, h2, h3, h4, h5, h6 {
      margin-top: 3px;
      margin-bottom: 2px;
    }
  }
